<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="./assets/css/style.css">
  <script src="./assets/js/index.js"></script>
</head>
<body>
  <img src="./assets/images/LEGO_logo.png" alt="">
  <script src="./assets/js/index.js"></script>
  <div>aaaaaa</div>
</body>
</html>